WMS/PostToteArrivedAtWorkstation
/PostToteArrivedAtWorkstation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rfx="http://www.hardis-group.com/schemas/PostToteArrivedAtWorkstation.xsd" targetNamespace="http://www.hardis-group.com/schemas/PostToteArrivedAtWorkstation.xsd" elementFormDefault="qualified" version="1.0">
	<xs:element name="PostToteArrivedAtWorkstation" type="rfx:PostToteArrivedAtWorkstation">
		<xs:annotation>
			<xs:documentation>WAMAS posts this message to a Reflex REST endpoint when a tote arrives at a workstation.</xs:documentation>
		</xs:annotation></xs:element>
	<xs:complexType name="PostToteArrivedAtWorkstation">
		<xs:all>
			<xs:element name="WorkstationId" type="rfx:WorkstationId" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ToteBarcode" type="rfx:ToteBarcode" nillable="false" minOccurs="0" maxOccurs="1"/>		
		</xs:all>
	</xs:complexType>

	<xs:simpleType name="WorkstationId">
		<xs:restriction base="xs:string">
		<xs:maxLength value="15"></xs:maxLength>
		</xs:restriction>		
	</xs:simpleType>
	<xs:simpleType name="ToteBarcode">
		<xs:restriction base="xs:string">
		<xs:maxLength value="18"></xs:maxLength>
		</xs:restriction>		
	</xs:simpleType>
	
</xs:schema>