WMS/OrderHandling/WmsOrderHandling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wms="http://www.hardis-group.com/schemas/WmsOrderHandling.xsd" targetNamespace="http://www.hardis-group.com/schemas/WmsOrderHandling.xsd" elementFormDefault="qualified" version="1.0">	

	<xs:element name="PostOrdersResponse">
		<xs:complexType>
		<xs:all>
			<xs:element name="RequestId"           type="wms:RequestId"          nillable="false" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="ConfirmedOrders"     type="wms:ConfirmedOrders"    nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RejectedOrders"      type="wms:RejectedOrders"     nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostRemoveOrdersResponse">
		<xs:complexType>
			<xs:all>
				<xs:element name="RequestId"         type="wms:RequestId"    nillable="false" minOccurs="1" maxOccurs="1" />	
				<xs:element name="RemovedOrders"     type="wms:RemoveOrders" nillable="false" minOccurs="1" maxOccurs="1" />
				<xs:element name="UnremovableOrders" type="wms:RemoveOrders" nillable="false" minOccurs="0" maxOccurs="1" />
				</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostShuttleTotePicked">
		<xs:complexType>
		<xs:all>
			<xs:element name="ToteBarcode"           type="wms:ToteBarcode"          nillable="false" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="ReflexBatchId"         type="wms:BatchId"              nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WamasBatchId"          type="wms:BatchId"              nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LastToteFlag"          type="xs:boolean"               nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Orders"                type="wms:PickedOrders"         nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostOrdersShortened">
		<xs:complexType>
		<xs:all>
			<xs:element name="Orders"              type="wms:ShortenedOrders"      nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostUnfulfillableOrdersResponse">
		<xs:complexType>
		<xs:all>
			<xs:element name="RequestId"           type="wms:RequestId"                nillable="false" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="Orders"              type="wms:UnfulfillableOrders"      nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostOrphanedToteLocked">
		<xs:complexType>
			<xs:all>
				<xs:element name="ToteBarcodes" type="wms:ToteBarcodes" nillable="false" minOccurs="1" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PostOrderSorted">
		<xs:complexType>
			<xs:all>
				<xs:element name="SortedTime"       type="xs:dateTime"          nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="OrderId"          type="wms:OrderId"          nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SorterChute"      type="wms:Location"         nillable="false" minOccurs="1" maxOccurs="1"/>
				<xs:element name="SortedOrderLines" type="wms:SortedOrderLines" nillable="false" minOccurs="1" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SortedOrderLines">
		<xs:sequence>
			<xs:element name="SortedOrderLine" type="wms:SortedOrderLine" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SortedOrderLine">
		<xs:all>
			<xs:element name="OrderLineId"    type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="EanBarcode"     type="wms:EanBarcode" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="SortedQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>	
	
	<xs:complexType name="ConfirmedOrders">
		<xs:sequence>
			<xs:element name="OrderId"                 type="wms:OrderId"            nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RejectedOrders">
		<xs:sequence>
			<xs:element name="RejectedOrder"             type="wms:RejectedOrder"        nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RejectedOrder">
		<xs:all>
			<xs:element name="OrderId"                 type="wms:OrderId"            nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RejectReason"            type="wms:Reason"             nillable="false" minOccurs="1" maxOccurs="1"/>

		</xs:all>
	</xs:complexType>

	<xs:complexType name="RemoveOrders">
		<xs:sequence>
			<xs:element name="Order"                 type="wms:RemoveOrder"       nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RemoveOrder">
		<xs:all>
			<xs:element name="OrderId"                 type="wms:OrderId"           nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OrderLines"              type="wms:RemoveOrderLines"  nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>	
	</xs:complexType>
	
	<xs:complexType name="RemoveOrderLines">
		<xs:sequence>
			<xs:element name="OrderLineId"           type="wms:OrderLineId"        nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrders">
		<xs:sequence>
			<xs:element name="Order"                 type="wms:PickedOrder"            nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrder">
		<xs:all>
			<xs:element name="OrderId"                 type="wms:OrderId"            nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OrderLines"              type="wms:PickedOrderLines"   nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>	
	</xs:complexType>
	
	<xs:complexType name="PickedOrderLines">
		<xs:sequence>
			<xs:element name="OrderLine"           type="wms:PickedOrderLine"        nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrderLine">
		<xs:sequence>
			<xs:element name="OrderLineId"           type="wms:OrderLineId"        nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PickId"                type="wms:PickId"             nillable="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EanBarcode"            type="wms:EanBarcode"         nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PickQuantity"          type="wms:Quantity"           nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BestBeforeDate"        type="wms:BestBeforeDate"     nillable="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ShortenedOrders">
		<xs:sequence>
			<xs:element name="Order"                 type="wms:ShortenedOrder"            nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ShortenedOrder">
		<xs:all>
			<xs:element name="OrderId"                 type="wms:OrderId"               nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OrderLines"              type="wms:ShortenedOrderLines"   nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>	
	</xs:complexType>
	
	<xs:complexType name="ShortenedOrderLines">
		<xs:sequence>
			<xs:element name="OrderLine"           type="wms:ShortenedOrderLine"        nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ShortenedOrderLine">
		<xs:sequence>
			<xs:element name="OrderLineId"           type="wms:OrderLineId"        nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ShortenedQuantity"     type="wms:Quantity"           nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrders">
		<xs:sequence>
			<xs:element name="Order"                 type="wms:UnfulfillableOrder"            nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrder">
		<xs:all>
			<xs:element name="OrderId"                 type="wms:OrderId"                   nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OrderLines"              type="wms:UnfulfillableOrderLines"   nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:all>	
	</xs:complexType>
	
	<xs:complexType name="UnfulfillableOrderLines">
		<xs:sequence>
			<xs:element name="OrderLine"           type="wms:UnfulfillableOrderLine"        nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrderLine">
		<xs:sequence>
			<xs:element name="OrderLineId"           type="wms:OrderLineId"        nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RequestedQuantity"     type="wms:Quantity"           nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AvailableQuantity"     type="wms:Quantity"           nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ToteBarcodes">
		<xs:sequence>
			<xs:element name="ToteBarcode" type="wms:ToteBarcode" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	
	<xs:simpleType name="OrderId"> 
		<xs:restriction base="xs:string">
		<xs:maxLength value="11"></xs:maxLength>
		<xs:minLength value="11"></xs:minLength>		
		</xs:restriction>		
	</xs:simpleType>
	
	<xs:simpleType name="RequestId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Reason">
		<xs:restriction base="xs:string">
		<xs:maxLength value="255"></xs:maxLength>
		</xs:restriction>		
	</xs:simpleType>	

	<xs:simpleType name="OrderLineId">
		<xs:restriction base="xs:string">
		<xs:maxLength value="15"></xs:maxLength>
		<xs:minLength value="15"></xs:minLength>		
		</xs:restriction>		
	</xs:simpleType>	
	
	<xs:simpleType name="BatchId">
		<xs:restriction base="xs:string">
		<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>		
	</xs:simpleType>

	<xs:simpleType name="ToteBarcode">
		<xs:restriction base="xs:string">
		<xs:maxLength value="18"></xs:maxLength>
		</xs:restriction>		
	</xs:simpleType>
	
		<xs:simpleType name="PickId">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="9999999999999"></xs:maxInclusive>
		</xs:restriction>		
	</xs:simpleType>
	
	<xs:simpleType name="EanBarcode">
		<xs:restriction base="xs:string">
		<xs:maxLength value="13"></xs:maxLength>
		<xs:minLength value="13"></xs:minLength>		
		</xs:restriction>		
	</xs:simpleType>
	<xs:simpleType name="Quantity">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BestBeforeDate">
		<xs:restriction base="xs:date">
		</xs:restriction>		
	</xs:simpleType>
	
	<xs:simpleType name="Location">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>	
</xs:schema>