ssi/order-handling/WmsOrderHandling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wms="http://www.hardis-group.com/schemas/WmsOrderHandling.xsd" targetNamespace="http://www.hardis-group.com/schemas/WmsOrderHandling.xsd" elementFormDefault="qualified" version="1.0">


	<xs:element name="PostOrdersResponse">
		<xs:annotation>
			<xs:documentation>WAMAS confirms all Orders from a previous request to PostOrdersRequest. These are checked semantically and syntactically.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="RequestId" type="wms:RequestId" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Id of the request. Will be send back with response</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ConfirmedOrders" type="wms:OrderIds" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of confirmed Orders</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RejectedOrders" type="wms:OrderIds" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of rejected Orders</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostRemoveOrdersResponse">
		<xs:annotation>
			<xs:documentation>WAMAS answers with a list of Unfulfillable orders line ids. WAMAS won’t release locked orders even if stock got available in the meantime.
				This response is guaranteed to be delivered in less than 5 minutes in at least 99% of all calls of PostUnfulfillableOrdersRequest.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="RequestId" type="wms:RequestId" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Id of the request that is answered with this response</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RemovedOrders" type="wms:RemovedOrders" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of removed Reflex Order ID / Reflex Order Line ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UnremovableOrders" type="wms:RemovedOrders" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of Reflex Order ID / Reflex Order Line ID that are not cancellable anymore</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostUnfulfillableOrdersResponse">
		<xs:annotation>
			<xs:documentation>WAMAS answers with a list of Unfulfillable orders line ids. WAMAS won’t release locked orders even if stock got available in the meantime.
				This response is guaranteed to be delivered in less than 5 minutes in at least 99% of all calls of PostUnfulfillableOrdersRequest.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="RequestId" type="wms:RequestId" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Id of the request that is answered with this response</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UnfulfillableOrderLines" type="wms:UnfulfillableOrderLines" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of unfulfillable Order Lines</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostOrdersShortened">
		<xs:annotation>
			<xs:documentation>A released Order was shortened by WAMAS because Stock is not (temporary or permanent) available anymore. WAMAS first checks if it can still fulfill the order on its own.
				The message contains the Order Lines for the orders that can’t be fulfilled anymore.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="ShortenedOrders" type="wms:ShortenedOrders" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of Shortened Orders</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostOrphanedToteLocked">
		<xs:annotation>
			<xs:documentation>A batch tote with picked items is locked inside consolidation Buffer or Shuttle. WAMAS will send separate messages for OrderShortenings and/or UnfulfillableOrders.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="ToteBarcodes" type="wms:ToteBarcodes" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Tote barcode of locked large Tote</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostShuttleTotePicked">
		<xs:annotation>
			<xs:documentation>A batch tote with picked items in Shuttle successfully passed height and weight check and thus picked successfully.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="ToteBarcode" type="wms:ToteBarcode" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Barcode of picked Shuttle tote</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReflexBatchId" type="wms:BatchId" nillable="false" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reflex Batch ID (optional, in case of integration orders and internal orders)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WamasBatchId" type="wms:BatchId" nillable="false" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>WAMAS Batch ID (optional, in case of shuttle only orders)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LastToteFlag" type="xs:boolean" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Indicates last tote to be picked for this batchId</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PickedOrderLines" type="wms:PickedOrderLines" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Picked Order Lines</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="PostOrderSorted">
		<xs:annotation>
			<xs:documentation>Is sent from WAMAS to Reflex when order is completely delivered to chute by the sorter and can be packed.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="SortedTime" type="xs:dateTime" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Sorting Timestamp</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reflex Order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SorterChute" type="wms:Location" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Sorter Chute</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SortedOrderLines" type="wms:SortedOrderLines" nillable="false" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Order Lines</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SortedOrderLine">
		<xs:all>
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="EanBarcode" type="wms:EanBarcode" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="SortedQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="SortedOrderLines">
		<xs:sequence>
			<xs:element name="SortedOrderLine" type="wms:SortedOrderLine" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrders">
		<xs:sequence>
			<xs:element name="PickedOrder" type="wms:PickedOrder" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrder">
		<xs:all>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="PickedOrderLines" type="wms:PickedOrderLines" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="PickedOrderLines">
		<xs:sequence>
			<xs:element name="PickedOrderLine" type="wms:PickedOrderLine" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PickedOrderLine">
		<xs:all>
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="PickId" type="wms:PickNumber" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="EanBarcode" type="wms:EanBarcode" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="PickedQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="RemovedOrders">
		<xs:sequence>
			<xs:element name="Order" type="wms:RemovedOrder" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RemovedOrder">
		<xs:all>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrderLines" type="wms:RemovedOrderLines" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="RemovedOrderLines">
		<xs:sequence>
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ShortenedOrders">
		<xs:sequence>
			<xs:element name="ShortenedOrder" type="wms:ShortenedOrder" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ShortenedOrder">
		<xs:all>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="ShortenedOrderLines" type="wms:ShortenedOrderLines" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ShortenedOrderLines">
		<xs:sequence>
			<xs:element name="ShortenedOrderLine" type="wms:ShortenedOrderLine" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ShortenedOrderLine">
		<xs:all>
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="ShortenedQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrders">
		<xs:sequence>
			<xs:element name="UnfulfillableOrder" type="wms:UnfulfillableOrder" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrder">
		<xs:all>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="UnfulfillableOrderLines" type="wms:UnfulfillableOrderLines" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrderLines">
		<xs:sequence>
			<xs:element name="UnfulfillableOrderLine" type="wms:UnfulfillableOrderLine" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnfulfillableOrderLine">
		<xs:all>
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="RequestedQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="AvailableQuantity" type="wms:Quantity" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="OrderLineIdDtos">
		<xs:sequence>
			<xs:element name="OrderLineId" type="wms:OrderLineIdDto" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrderLineIdDto">
		<xs:all>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="OrderLineId" type="wms:OrderLineId" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="OrderIds">
		<xs:sequence>
			<xs:element name="OrderId" type="wms:OrderId" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ToteBarcodes">
		<xs:sequence>
			<xs:element name="ToteBarcode" type="wms:ToteBarcode" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="OrderId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"></xs:maxLength>
			<xs:minLength value="11"></xs:minLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderLineId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"></xs:maxLength>
			<xs:minLength value="15"></xs:minLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EanBarcode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"></xs:maxLength>
			<xs:minLength value="13"></xs:minLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PickId">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"></xs:minInclusive>
			<xs:maxInclusive value="99999999999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ToteBarcode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="Location">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"></xs:maxLength>
			<xs:minLength value="12"></xs:minLength>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
