PostNL/AnnounceSorter/AnnounceSorter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Thomas Smith (Prime Vision B.V.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pnl="http://www.hardis-group.com/schemas/AnnounceSorter.xsd" targetNamespace="http://www.hardis-group.com/schemas/AnnounceSorter.xsd" elementFormDefault="qualified" version="1.0">
	<xs:element name="AnnounceSorter" type="pnl:AnnounceSorter"/>
	<!--

    V1.0.0 door M.Oomen: XSD aangepast naar voorkeur PostNL Pakketten
    v1.0.1 door M.Oomen: XSD aangepast i.v.m. cardinaliteiten en spelfout in Barcode
    V1.1.0 door M.Oomen: Velden BezorgingDatum en OntvangstAdresSrt toegevoegd
    v1.1.1 door M.Oomen: Aangepast n.a.v. overleg tussen PostNL, Prime Vision en Bol.com op 8-3-2017

    -->
	<xs:complexType name="AnnounceSorter">
		<xs:sequence>
			<xs:element name="Barcode" type="pnl:Barcode" nillable="false"/>
			<xs:element name="Customers" type="pnl:Customers" nillable="false" minOccurs="0"/>
			<xs:element name="Shipment" type="pnl:Shipment" nillable="false" minOccurs="0"/>
			<xs:element name="InsuredAmount" type="xs:int" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Barcode -->
	<xs:simpleType name="Barcode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Customer -->
	<xs:complexType name="Customers">
		<xs:sequence>
			<xs:element name="Customer" type="pnl:Customer" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="CustomerNumber" type="xs:int" nillable="false"/>
			<xs:element name="CustomerCode" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Shipment -->
	<xs:complexType name="Shipment">
		<xs:sequence>
			<xs:element name="NextProcessID" type="xs:string" nillable="false" minOccurs="0"/>
			<xs:element name="OntvangstAdresSrt" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="07"/>
						<xs:enumeration value="09"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductCodeDelivery" type="xs:int" nillable="false"/>
			<xs:element name="ProductOptions" nillable="false" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductOption" nillable="false" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Option" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:maxInclusive value="999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Characteristic" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:maxInclusive value="999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BezorgingDatum" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BezorgingDtvBegin" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum en begintijdstip van de periode waarbinnen de collo afgeleverd dient te worden; aangegeven door de klant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BezorgingDtvEind" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum en eindtijdstip van de periode waarbinnen de collo afgeleverd dient te worden; aangegeven door de klant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DownNetwPartnerContractId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificatie van het contract met een specifieke downstream Netwerkpartner/Carrier waaraan TNT de verdere afhandeling van het logistieke proces voor dit pakket heeft uitbesteed. Er kunnen meerdere contracten per netwerkpartner/carrier zijn afgesloten voor verschillende logistieke stromen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DownNetwPartnerLocatieId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificatie van de locatie van de downstream Netwerkpartner/Carrier waar verdere afhandeling van het proces voor dit pakket plaats vindt (bijvoorbeeld PickUp proces).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
						<xs:pattern value="(.)+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Codeerregel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Een instructie hoe de brief/het brievenbuspakje verwerkt moet worden in de hand processen van MailNL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerOrderNumber" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contacts" nillable="false" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contact" nillable="false" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactType" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="01"/>
												<xs:enumeration value="02"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TelNr" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Email" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SMSNr" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="16"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Addresses" nillable="false" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" nillable="false" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AddressType" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="01"/>
												<xs:enumeration value="02"/>
												<xs:enumeration value="07"/>
												<xs:enumeration value="09"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Street" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="95"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="HouseNr" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="HouseNrExt" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Zipcode" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="17"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="City" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="35"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CountryCode" nillable="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Region" nillable="true" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Bedrijfsnaam" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
                                       Naam van het geadresseerde bedrijf.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PersoonsNm" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
                                       Naam van de persoon (verplicht indien PersoonsVoorNm is opgenomen)
(party.postal-adress.adressee-specification.line-1)
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PersoonsVoorNm" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
                                       Voornaam van de persoon (indien dit veld is opgenomen bevat PersoonsNm uitsluitend de achternaam).
(party.postal-adress.adressee-specification.line-2)
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
